### MacOS ###
.DS_Store

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Editor directories and files
.idea
.vscode
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
.settings
.project
/coverage

# Node
/node_modules
/public/build

# JWT
/config/keys
