<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Martin Burchard">
  <meta name="description" content="BIT Webspace Vue">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ asset('favicon.png') }}">
  <title>{% block title %}BIT Webspace Vue{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  {% block javascripts %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
